Old Project - Top Scorers/data/
Old Project - Top Scorers/reddit/reddit/__pycache__/
Old Project - Top Scorers/reddit/test.csv
Old Project - Top Scorers/reddit_praw_sharan.py
Old Project - Top Scorers/soccerway/soccerway.csv
Old Project - Top Scorers/soccerway/soccerway/spiders/__pycache__/
