{%- extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ app_name }}</h1>
        <h2>Questions</h2>
      </div>
    </div>
    <div class="jumbotron">
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="http://pythonhosted.org/Flask-Bootstrap" >Show docs</a>
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">



          <h2>About Stack Overflow</h2>
          <p>Stack Overflow is a...</p> 
          <p>Containing more than...<p>
        </div>
        <div class="col-md-4">
          <h2>Challenge the Models</h2>
          <p>Can you predict how well questions...</p> 
          <p>Which Stack Overflow users...<p>
        </div>
        <div class="col-md-4">
          <h2>Learn about the Project</h2>
          <p>Thie project set out to...</p> 
          <p>Technologies used include...<p>
        </div>
      </div>
    </div>
   </div>
{%- endblock %}
<html>
    <head>
        <title>{{ app_name}} | Questions</title>
        <style type="text/css">
            h1 {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>{{ app_name }}</h1>
        <h2>Questions</h2>
    </body>
</html>
